<div id="footer">
    <div class="container">

        <div class="col-md-3">
            <p><strong>Customer Visits Planning System</strong> Metso Minerals <strong>Chile</strong></p>
        </div>

        <!-- SYSTEM VERSION -->
        <div class="col-md-1">
            <p>v1.0</p>
        </div>

        @if (Request.IsAuthenticated)
        {
            @Html.Partial("_LoginPartial")
        }        
    </div>
</div>
