html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
}

#footer {
    background-color: #eee;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.login-background {
    background-size: cover;
    background-position: center top;
    background-image: url(../Images/metso-fullwidth.jpg);
}



#account-info {
    float:right;
    display:block;
    padding-top:12px;
}
    #account-info .login-username {
        margin-right:3px;
        float:left;
        display:block;
    }

    #account-info .user-logout {
        float:left;
        display:block;
    }

    #account-info form {
        float:left;
    }

    

.logout-cross {
    float:left;
}

