.wrapper-elastic {
    position: relative;
    width: 100%;
}

/* CSS reset */
.wrapper-elastic ul,
.wrapper-elastic ol,
.wrapper-elastic li,
.wrapper-elastic h1,
.wrapper-elastic h2,
.wrapper-elastic h3,
.wrapper-elastic h4,
.wrapper-elastic h5,
.wrapper-elastic h6,
.wrapper-elastic pre,
.wrapper-elastic form,
.wrapper-elastic fieldset,
.wrapper-elastic input,
.wrapper-elastic textarea,
.wrapper-elastic p,
.wrapper-elastic blockquote,
.wrapper-elastic th,
.wrapper-elastic td {
    margin: 0;
    padding: 0;
}

.wrapper-elastic table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper-elastic fieldset,
.wrapper-elastic img {
    border: 0;
}

.wrapper-elastic input {
    border: 1px solid #b0b0b0;
    padding: 3px 5px 4px;
    color: #979797;
    width: 190px;
}

.wrapper-elastic address,
.wrapper-elastic caption,
.wrapper-elastic cite,
.wrapper-elastic code,
.wrapper-elastic dfn,
.wrapper-elastic th,
.wrapper-elastic var {
    font-style: normal;
    font-weight: normal;
}

.wrapper-elastic ol,
.wrapper-elastic ul {
    list-style: none;
}

.wrapper-elastic caption,
.wrapper-elastic th {
    text-align: left;
}

.wrapper-elastic h1,
.wrapper-elastic h2,
.wrapper-elastic h3,
.wrapper-elastic h4,
.wrapper-elastic h5,
.wrapper-elastic h6 {
    font-size: 100%;
    font-weight: normal;
}

.wrapper-elastic q:before,
.wrapper-elastic q:after {
    content: '';
}

.wrapper-elastic abbr,
.wrapper-elastic acronym {
    border: 0;
}

    .wrapper-elastic p {
        clear: both;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
    }

    .wrapper-elastic .reference {
        padding-top: 40px;
    }

    .wrapper-elastic h1 {
        font-size: 34px;
        position: relative;
        color: #000;
        font-weight: 400;
        text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
        padding: 20px;
        z-index: 1000;
        text-transform: uppercase;
        text-align: center;
        background-color: #cc521c;
    }

        .wrapper-elastic h1 span {
            font-family: 'Playfair Display', serif;
            font-style: italic;
            text-transform: none;
            font-size: 20px;
        }

    .wrapper-elastic .ei-slider {
        position: relative;
        width: 100%;
        max-width: 1920px;
        height: 400px;
        margin: 0 auto;
    }

    .wrapper-elastic .ei-slider-loading {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 999;
        background: rgba(0,0,0,0.9);
        color: #fff;
        text-align: center;
        line-height: 400px;
    }

    .wrapper-elastic .ei-slider-large {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

        .wrapper-elastic .ei-slider-large li {
            position: absolute;
            top: 0px;
            left: 0px;
            overflow: hidden;
            height: 100%;
            width: 100%;
        }

            .wrapper-elastic .ei-slider-large li img {
                width: 100%;
            }

    .wrapper-elastic .ei-title {
        position: absolute;
        right: 50%;
        margin-right: 13%;
        top: 30%;
    }

        .wrapper-elastic .ei-title h2, .ei-title h3 {
            text-align: left;
        }

        .wrapper-elastic .ei-title h2 {
            font-size: 40px;
            line-height: 50px;
            font-family: 'Open Sans', serif;
            color: white;
            background-color:#cc521c;
            padding:1.5%;
        }

        .wrapper-elastic .ei-title h3 {
            font-size: 70px;
            line-height: 70px;
            font-family: 'Open Sans', sans-serif;
            background-color:#013827;
            color:white;
            padding:1.5%;
            width:100%;                        
        }

    .wrapper-elastic .ei-slider-thumbs {
        height: 13px;
        margin: 0 auto;
        position: relative;
    }

        .wrapper-elastic .ei-slider-thumbs li {
            position: relative;
            float: left;
            height: 100%;
        }

            .wrapper-elastic .ei-slider-thumbs li.ei-slider-element {
                top: 0px;
                left: 0px;
                position: absolute;
                height: 100%;
                z-index: 10;
                text-indent: -9000px;
                background: #000;
                background: rgba(0,0,0,0.9);
            }

            .wrapper-elastic .ei-slider-thumbs li a {
                display: block;
                text-indent: -9000px;
                background: #666;
                width: 100%;
                height: 100%;
                cursor: pointer;
                -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px 1px rgba(255,255,255,0.5);
                -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px 1px rgba(255,255,255,0.5);
                box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px 1px rgba(255,255,255,0.5);
                -webkit-transition: background 0.2s ease;
                -moz-transition: background 0.2s ease;
                -o-transition: background 0.2s ease;
                -ms-transition: background 0.2s ease;
                transition: background 0.2s ease;
            }

                .wrapper-elastic .ei-slider-thumbs li a:hover {
                    background-color: #f0f0f0;
                }

            .wrapper-elastic .ei-slider-thumbs li img {
                position: absolute;
                bottom: 50px;
                opacity: 0;
                z-index: 999;
                max-width: 100%;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                transition: all 0.4s ease;
                -webkit-box-reflect: below 0px -webkit-gradient( linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3)) );
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            }

            .wrapper-elastic .ei-slider-thumbs li:hover img {
                opacity: 1;
                bottom: 13px;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            }

@media screen and (max-width: 830px) {
    .wrapper-elastic .ei-title {
        position: absolute;
        right: 0px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
        top: auto;
        bottom: 10px;
        background: #fff;
        background: rgba(255,255,255,0.9);
        padding: 5px 0;
    }

        .wrapper-elastic .ei-title h2, .ei-title h3 {
            text-align: center;
        }

        .wrapper-elastic .ei-title h2 {
            font-size: 20px;
            line-height: 24px;
        }

        .wrapper-elastic .ei-title h3 {
            font-size: 30px;
            line-height: 40px;
        }
}
